<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			    <br /><%=@user.dob %>
                <br /><%=@user.address %>
                <br />
                <% if @user.gender == 1 %>
                	Gender : Male
			    <% elsif @user.gender == 2 %>
			   		Gender : Female
			    <% elsif @user.gender == 3 %>
			   		Gender : Other
			    <% end %>
			</h1>
		</section>
	</aside>
</div>